* {
    margin: 0; /* Eliminar márgenes predeterminados */
    padding: 0; /* Eliminar relleno predeterminado */
}

body {
    display: flex; /* Usar flexbox para la disposición */
    flex-direction: column; /* Apilar elementos verticalmente */
    height: 100vh; /* Altura de ventana */
    background-color: #f0f0f0c7;
}

header {
    position: flex; /* Fijar el header en la parte superior */
    height: 6vh; /* Altura del encabezado */
    background-color: #419affde; /* Color de fondo */
    display: flex; /* Usar flexbox para el contenido del header */
    justify-content: center; /* Centrar horizontalmente los elementos */
    align-items: center; /* Centrar verticalmente los elementos */
}

.header-content {
    display: flex; /* Usar flexbox para el contenido del encabezado */
    align-items: center; /* Centrar verticalmente los elementos */
    justify-content: space-between; 
    width: 100%; /* Ancho completo para alinear correctamente */
    padding: 2vh; /* Espaciado horizontal dentro del header */
}

.header-content img {
    height: 5vh; /* Ajustar la altura de la imagen */
}

main {
    flex: 1; /* Permitir que el main ocupe el espacio restante */
    display: flex; /* Usar flexbox para organizar el contenido */
    flex-direction: column; /* Apilar elementos verticalmente */
    align-items: center; /* Centrar horizontalmente */
    justify-content: center; /* Centrar verticalmente */
}

#gestion{
    display: flex;
    flex-direction: column;
    height: 70vh;
    width: 130vh;
    border: 3px solid black;
    
}

#verificados{
    height: 50%;
}

#noVerificados{
    border-top: 3px solid black;
    height: 50%;
}
#noVerificados p {
    display: flex; /* Usar flexbox para el párrafo */
    justify-content: space-between; /* Espacio entre el texto y el checkbox */
    align-items: center; /* Centrar verticalmente */
}

section div{
    display: flex;
    justify-content: space-between;
    padding: 2vh;
    padding-top: 0px;
    padding-bottom: 0px;
    border-bottom: 1px solid black;
    background-color: #60a8fa8a;
}

/* Fondo rojo para los elementos <p> en posiciones impares */
#verificados p:nth-child(odd),
#noVerificados p:nth-child(odd) {
    background-color: #b6d7fc88; 
}

/* Sin fondo para los elementos <p> en posiciones pares */
#verificados p:nth-child(even),
#noVerificados p:nth-child(even) {
    background-color: transparent;
}

p {
    padding: 1vh; /* Espaciado interno */
}
input[type="checkbox"] {
    width: 2vh; /* Ajusta el ancho según sea necesario */
    height: 2vh; /* Ajusta la altura según sea necesario */
    margin-right: 4vh;
}


.footer-content, header {
    height: 6vh; /* Altura de los encabezados y pies de página */
    background-color: #60a8fade; /* Color de fondo con opacidad */
    text-align: center; /* Centrar el texto horizontalmente */
    line-height: 5.5vh; /* Altura de línea para centrar el texto verticalmente */
}

.footer-content {
    display: flex; /* Usar flexbox para el contenido del pie de página */
    justify-content: space-between; /* Espacio entre los elementos */
    align-items: center; /* Centrar verticalmente los elementos */
    width: 100%; /* Ancho completo del footer */
}

.footer-content a{
    text-decoration: none; /*Decoraciones del texto*/
    color:white; /*Color del texto*/
    font-weight: bolder; /*Estilo o Tamaño del texto*/
}


#contenedor {
    display: flex; /* Usar flexbox para la disposición de los botones */
    flex-direction: row; /* Disposición horizontal de los botones */
    align-items: center; /* Centrar los botones verticalmente */
    justify-content: space-evenly; /* Espacio uniforme entre los botones */
    width: 100%; /* Ancho completo del contenedor */
}

button {
    width: 30vh; /* Ancho de cada botón */
    height: 6vh; /* Altura de cada botón */
    background-color: #5ba4f7e5; /* Color de fondo de los botones */
    color: black; /* Color del texto de los botones */
    border: none; /* Sin borde */
    cursor: pointer; /* Cambiar el cursor al pasar sobre el botón */
    text-align: center; /* Centrar texto dentro del botón */
    line-height: 40px; /* Centrar verticalmente el texto del botón */
    font-family: 'Times New Roman', Times, serif; /* Tipo de letra */
    font-weight: bold; /* Negrita */
    font-size: 20px; /* Tamaño de fuente del texto del botón */
    margin-top: 2vh;
    border-radius: 10px;
}

button:hover{
background-color: #4498f8;
}
