*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    align-items: center; /* Centrar verticalmente */
    height: 100vh; /* Altura de ventana */
    background-image: url(/imagenes/fondo_LogIn.jpg);
}

#contenedor {
    display: flex;
    flex-direction: row; /* Disposición vertical */
    align-items: center;
    justify-content: space-evenly; /* Espacio entre los botones */
    width: 100%; 
}

button {
    width: 30%; 
    height: 40vh;
    background-color: #e5e5e5f1; /* Color de botones */
    color: black; /* Color del texto */
    border: none; 
    cursor: pointer; 
    text-align: center; /* Centrar texto */
    line-height: 40px; /* Centrar verticalmente el texto */
    font-family: 'Times New Roman', Times, serif; /*tipo de letra*/
    font-weight: bold; /*negrita*/
    font-size: 25px; /* Tamaño de fuente */
}